@font-face {
  font-family: tilt;
  src: url("Tilt.ttf") format("truetype");
}



body {
  background-color: gainsboro;
  color: navy;
  margin: 0;
  padding: 0;
  font-family: 'Rufina';
  scroll-behavior: smooth;
  
 
}

.grid1,
.grid2,
.grid3 {
  display: grid;
 
 
}

.grid1 {
  position: relative;
 width: 100vw;
 height: 100vh;
  background-color: gainsboro;
  color: navy;
  
 
  overflow-y: hidden;
}

#toggle div {
  position: relative;
  width: 10vw;
  height: 13vw;
  background: rgba(0, 0, 0, 0);
  top: 5vw;
  margin: auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 9999;
}

#mn {
  position: absolute;
  top: -10px;
  
  
}

#mnll, #mnyy {
  fill: navy;
 
}


#toggle.on .one {
  transform: translateY(-20px) scale(0.5);
  fill: gainsboro;
  z-index: 9999;
}

#menu {
  display: flex;
  justify-content: center;
  display: none;

}

#hl {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5vw;
  font-family: tilt;
  font-size: 10vw;
  top: 11vw;
  left: 5vw;
  color: gainsboro;
  background-Color: navy;
  width: 90vw;
  height: 90vh;
  border-radius: 30px 30px 30px 30px;
  z-index: 0;
}

.txt{
  position: absolute;
  text-wrap: wrap;
  font-family: tilt;
  bottom: 1%;
  right: 2%;
  letter-spacing: 0.01vw;
  font-size: 10vw;
  font-weight: 100;

}




.grid2 {
  display: grid;
  width: 100vw;
  height: calc((8/7)* 100vw);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;

}

.di {
  display: flex;
  justify-content: center;
  line-height: 6vw;
  flex-wrap: wrap;
  font-size: 3vw;
 

}

#c1 {
  grid-area: 1 / 1 / 3 / 8;
  align-items: center;
  font-size: 15vw;
  letter-spacing: 2vw;
  font-family: tilt;
  font-weight: 900;
  fill: none;
  stroke-width: 1vw;
  stroke: rgb(128, 0, 0);
}

#c2 {
  grid-area: 3 / 1 / 9 / 2;
  line-height: 100%;
}

#c3 {
  grid-area: 3 / 2 / 9 / 3;
}

#c4 {
  grid-area: 3 / 3 / 9 / 4;
}

#c5 {
  grid-area: 3 / 4 / 9 / 5;
}

#c6 {
  grid-area: 3 / 5 / 9 / 6;
}

#c7 {
  grid-area: 3 / 6 / 9 / 7;
}

#c8 {
  grid-area: 3 / 7 / 9 / 8;
}

.grid3 {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
}



#l32 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.clb {
  position: relative;
  letter-spacing: 2vw;
  font-size: 2vw;
  bottom: 5vw;
}

.scl {
  display: inline-flex;
  flex-direction: row-reverse;
  word-spacing: 5vw;
  position: relative;
  bottom: 2vw;
}
.pr
{
  font-size: 1.8vw;
  letter-spacing: 0.6vw;
  cursor: pointer;
  border-radius: 20px;
}

.pr a:link {
  text-decoration: none;
  font-size: 1.2vw;
}
.pr:hover{
  color: black;
  text-shadow: 50;
  background-color: wheat;
}

.hol {
  
  position: absolute;
  left: 45vw;
  z-index: -1;
  transform: scale(0);
  
}

.pan{
  position: relative;
  top: -30px;
  width: 25vw;
  height: 20vw;
  
  background-color: transparent;
}
.ido{
  letter-spacing: 2.5vw;
  font-weight: bold;
}

#l33 {
  display: grid;
  width: 100vw;
  height: 33.3vh;
grid-template-rows: 16% 42% 42%;
grid-template-columns: repeat(3,1fr);
  position: relative;
  background-color:transparent;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 50px;
  z-index: 4;
}
#ploo{
  grid-area: 1 / 1 / 2 / 4;
  color: navy;
  letter-spacing: 1vw;
}
.plo{
  display: flex;
  justify-self: center;
 

}
#l31 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.lllp{
  text-align: center;
  line-height: 8vw;
  vertical-align: middle;
  color: gainsboro;
  z-index: 1;
}
#dgd{ font-size: 5vw; font-weight: bold;}
#spn{font-style: italic; font-size: 2.5vw; letter-spacing: 1.6vw;}


#plt{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: gainsboro;
  z-index: 999999;
  overflow: hidden;
  
}

.cnty{
  opacity: 0;
}
